/* html, body {
    padding: 1.5%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 69deg, #5c63c0, rgb(140, 150, 31) ); 
    color: var(---secondary-color);
    overflow: hidden;
}

#myCanvas {
    width: 100%; height: 100vh;
     transform: skewX(-50deg);
     position: absolute;
     top: 0; right: 0;
     bottom: 0; left: 0;
     border: 5px #0c0c0c double;
     z-index: 1;
     justify-content: center;
     align-items: center;
     padding: 6rem;
 } */